:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
  --section-padding: 100px;
  --transparent-alt-color: #777;
  --main-line-height: 1.8;
  --section-overlay: rgb(0, 0, 0, 50%);
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Public Sans", sans-serif;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
:focus {
  outline: none;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* //////////////////////////////////////////////////////////////////////////////////// */
/* Start Component  */
.main-heading {
  text-align: center;
}
.main-heading h3 {
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0 0 50px;
  position: relative;
}
.main-heading h3::before,
.main-heading h3::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.main-heading h3::before {
  bottom: -20px;
  height: 2px;
  width: 120px;
  background-color: #333;
}
.main-heading h3::after {
  bottom: -27px;
  width: 14px;
  height: 14px;
  border: 2px solid #333;
  border-radius: 50%;
  background-color: white;
}
.main-heading p {
  width: 550px;
  margin: 0 auto 100px;
  line-height: var(--main-line-height);
  color: var(--transparent-alt-color);
  max-width: 100%;
}
/* End Component  */
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 3;
}
header .container {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 96px;
}
header .container::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 15px;
  height: 1px;
  width: calc(100% - 30px);
  background-color: #a2a2a2;
}
header .container .logo img {
  height: 40px;
}
header .container nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .container nav .icon {
  width: 30px;
  height: 30px;
}
header .container nav .icon span {
  display: block;
  width: 30px;
  height: 2px;
  background-color: white;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
header .container nav .icon span:first-child {
  margin-bottom: 8px;
}
header .container nav .icon span:nth-child(2) {
  width: 15px;
  margin: 0 auto 8px;
}
header .container nav .icon span:last-child {
  width: 7.5px;
  margin: 0 auto;
}
@media (min-width: 767px) {
  header .container nav .icon {
    display: none;
  }
}
header .container nav:hover .icon span {
  width: 100%;
}
header .container nav ul {
  display: flex;
}
@media (max-width: 767px) {
  header .container nav ul {
    display: none;
  }
  header .container nav:hover ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    background-color: var(--section-overlay);
  }
  header .container nav:hover ul li a {
    padding: 20px;
  }
}
header .container nav ul li a {
  display: block;
  padding: 40px 10px;
  font-size: 14px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  color: white;
}
header .container nav ul li a.active,
header .container nav ul li a:hover {
  color: var(--main-color);
}
header .container .form {
  width: 40px;
  height: 30px;
  margin-left: 30px;
  border-left: 2px solid white;
  position: relative;
}
header .container .form i {
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  font-size: 20px;
  cursor: pointer;
}

.landing {
  width: 100%;
  height: 100vh;
  background-image: url(../images/landing.jpg);
  background-size: cover;
  position: relative;
}
.landing:before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--section-overlay);
}
.landing .text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  padding: 50px;
  background-color: var(--transparent-color);
  display: flex;
  justify-content: flex-end;
}
.landing .text .content {
  max-width: 500px;
}
@media (max-width: 767px) {
  .landing .text {
    width: 100%;
  }
  .landing .text .content {
    max-width: 100%;
  }
}
.landing .text .content h2 {
  margin: 0 0 20px;
  font-size: 35px;
  font-weight: normal;
  color: white;
  line-height: 1.5;
}
.landing .text .content p {
  font-size: 14px;
  color: white;
  line-height: var(--main-line-height);
}
.landing .change-background {
  position: absolute;
  top: 50%;
  color: #ddd;
  cursor: pointer;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
@media (max-width: 767px) {
  .landing .change-background {
    display: none;
  }
}
.landing i.left {
  left: 20px;
}
.landing i.right {
  right: 20px;
}
.landing .icon {
  position: absolute;
  left: 50%;
  bottom: 30px;
  width: 70px;
  display: flex;
  justify-content: space-between;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.landing .icon span {
  width: 20px;
  height: 20px;
  border: 1px solid #ddd;
  border-radius: 50%;
  cursor: pointer;
}
.landing .icon span:nth-child(2) {
  background-color: var(--main-color);
  border: none;
}

.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
@media (min-width: 767px) {
  .services .container .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 50px;
  }
}
.services .container .services-container .box {
  display: flex;
}
.services .container .services-container .box .icon {
  margin-right: 50px;
}
.services .container .services-container .box .info {
  flex: 1;
}
.services .container .services-container .box .info h3 {
  margin: 0 0 30px;
  color: var(--main-color);
}
@media (max-width: 767px) {
  .services .container .services-container .box {
    flex-direction: column;

    text-align: center;
    margin-bottom: 20px;
  }
  .services .container .services-container .box .icon {
    margin: 0 auto 15px;
  }
  .services .container .services-container .box .info h3 {
    margin: 0 0 15px;
  }
}
.services .container .services-container .box .info p {
  margin: 0;
  font-size: 16.5px;
  color: var(--transparent-alt-color);
  line-height: 1.8;
}

.desing {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../images/design-features.jpg);
  background-size: cover;
  height: 600px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.desing::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--section-overlay);
}
.desing .imge,
.desing .info {
  position: relative;
  flex: 1;
}
.desing .imge {
  bottom: -150px;
  text-align: center;
}
@media (max-width: 767px) {
  .desing .imge {
    display: none;
  }
}
.desing .info {
  padding: 50px;
  background-color: var(--transparent-color);
}
.desing .info h2 {
  color: white;
  margin: 0 0 30px;
  font-weight: normal;
  text-transform: uppercase;
}
.desing .info ul li {
  padding: 15px 0;
  color: white;
}
.desing .info ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f108";
  font-weight: 900;
  margin-right: 20px;
  position: relative;
  bottom: -1px;
}

.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.portfolio .container .shuffle {
  width: fit-content;
  margin: 0 auto;
}
.portfolio .container .shuffle span {
  padding: 10px;
  cursor: pointer;
}
.portfolio .container .shuffle span.active {
  background-color: var(--main-color);
  color: white;
}
.portfolio .images-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}
.portfolio .images-container .box {
  position: relative;
  overflow: hidden;
}
@media (min-width: 767px) {
  .portfolio .images-container .box {
    flex-basis: 50%;
  }
}
@media (min-width: 1199px) {
  .portfolio .images-container .box {
    flex-basis: 25%;
  }
}
.portfolio .images-container .box img {
  max-width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.portfolio .images-container .box:hover img {
  transform: scale(1.1) rotate(3deg);
  -webkit-transform: scale(1.1) rotate(3deg);
  -moz-transform: scale(1.1) rotate(3deg);
  -ms-transform: scale(1.1) rotate(3deg);
  -o-transform: scale(1.1) rotate(3deg);
}
.portfolio .images-container .caption {
  position: absolute;
  bottom: -100%;
  background-color: white;
  width: 100%;
  padding: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.portfolio .images-container .box:hover .caption {
  bottom: 0;
}
.portfolio .images-container .caption h4 {
  margin: 0 0 10px;
  font-weight: normal;
}
.portfolio .images-container .caption p {
  color: var(--main-color);
  margin: 0 0 5px;
}
.portfolio a.more {
  margin: 60px auto 0;
  display: block;
  width: fit-content;
  background-color: var(--main-color);
  padding: 10px 15px;
  color: white;
}

.video-section {
  position: relative;
}
.video-section::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--section-overlay);
}
.video-section .video video {
  width: 100%;
}
.video-section .info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  background-color: var(--transparent-color);
  padding: 40px;
}
.video-section .info h3 {
  color: white;
  font-weight: normal;
  font-size: 20px;
  margin: 0px 0px 20px;
  text-transform: uppercase;
}
.video-section .info p {
  margin: 30px 0;
  color: white;
}
.video-section .info a {
  display: block;
  padding: 10px 20px;
  width: fit-content;
  margin: 0 auto;
  background-color: black;
  color: white;
}
.about {
  padding-top: var(--section-padding);
  overflow: hidden;
}
.about .container img {
  position: relative;
  bottom: -120px;
  margin-top: -120px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
}
@media (max-width: 767px) {
  .about .container img {
    bottom: -60px;
    margin-top: -60px;
  }
}

.stats {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../images/stats.png);
  background-size: cover;
  width: 100%;
  position: relative;
}
.stats::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--section-overlay);
}
.stats .container {
  text-align: center;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .stats .container .stat {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .stats .container .stat {
    flex-basis: 50%;
  }
}
@media (min-width: 992px) {
  .stats .container .stat {
    flex-basis: 25%;
  }
}
.stats .container .stat {
  background-color: var(--transparent-color);
  padding: 50px;
  color: white;
}
@media (max-width: 767px) {
  .stats .container .stat:not(:last-child) {
    margin-bottom: 10px;
  }
}
.stats .container .stat i {
  width: 40px;
  height: 40px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 30px;
  border-radius: 50%;
}
.stats .container .stat div {
  font-size: 50px;
  font-weight: bold;
}
.stats .container .stat p {
  font-size: 12px;
}

.our-skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.our-skills .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (min-width: 992px) {
  .our-skills .container > div {
    flex-basis: 45%;
  }
}
.our-skills .container > div > h3 {
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 30px;
}
.our-skills .container > div > p {
  text-align: center;
  color: var(--transparent-alt-color);
  line-height: 2;
  margin: 0 0 50px;
}
.our-skills .container .testimonials .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 30px;
}
.our-skills .container .testimonials .box img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .our-skills .container .testimonials .box {
    gap: 15px;
  }
  .our-skills .container .testimonials .box img {
    width: 50px;
    height: 50px;
    transform: translateY(-40px);
  }
}

.our-skills .container .testimonials .box .info {
  line-height: 1.7;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
}
.our-skills .container .testimonials .box .info p {
  text-align: right;
  color: var(--transparent-alt-color);
  margin: 5px 0;
  font-size: 13px;
}
.our-skills .container .testimonials .shuffle {
  display: flex;
  margin: 0 auto 40px;
  width: 70px;
  justify-content: space-between;
}
.our-skills .container .testimonials .shuffle span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ddd;
  cursor: pointer;
}
.our-skills .container .testimonials .shuffle span:nth-child(2) {
  background-color: var(--main-color);
  border: none;
}
.our-skills .container .skills .prog-holder h4 {
  margin: 15px 0;
}
.our-skills .container .skills .prog-holder .prog {
  width: 100%;
  height: 25px;
  background-color: #ddd;
}
.our-skills .container .skills .prog-holder .prog span {
  display: block;
  height: 100%;
  background-color: var(--main-color);
  position: relative;
}
.our-skills .container .skills .prog-holder .prog span::before {
  content: attr(data-progres);
  position: absolute;
  right: -17px;
  bottom: 35px;
  background-color: black;
  padding: 3px;
  font-size: 12px;
  border-radius: 5px;
  color: white;
}
.our-skills .container .skills .prog-holder .prog span::after {
  content: "";
  position: absolute;
  right: -6px;
  bottom: 25px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.quote {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../images/quote.jpg);
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
}
.quote::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--section-overlay);
}
.quote q {
  position: relative;
  font-size: 25px;
  display: block;
  margin-bottom: 20px;
}
.quote span {
  position: relative;
  display: block;
  font-size: 15px;
}

.pricing {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.pricing .plans {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.pricing .plans .plan {
  text-align: center;
  background-color: #fcfcfc;
}
.pricing .plans .plan .head {
  padding: 40px 20px;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan h3 {
  margin: 0 0 15px;
  font-weight: normal;
}
.pricing .plans .plan span {
  font-size: 60px;
  font-weight: bold;
}
.pricing .plans .plan span::before {
  content: "$";
  position: relative;
  font-size: 20px;
  top: -35px;
}
.pricing .plans .plan span::after {
  content: "/Mo";
  position: relative;
  font-size: 15px;
}
.pricing .plans .plan ul li {
  padding: 20px;
  width: fit-content;
  margin: 0 auto;
}
.pricing .plans .plan ul li:not(:last-child) {
  border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan ul li:last-child {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan a {
  display: block;
  padding: 15px 20px;
  margin: 30px auto;
  width: fit-content;
  border: 1px solid var(--main-color);
  font-size: 15px;
}
.pricing .contact {
  text-align: center;
  margin: 50px 0;
}
.pricing .contact p {
  font-size: 20px;
}
.pricing .contact a.contact {
  padding: 15px 20px;
  background-color: var(--main-color);
  color: white;
  margin: 20px auto 0;
  display: block;
  width: fit-content;
}

.subscribe {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../images/subscribe.jpg);
  background-size: cover;
  position: relative;
  color: white;
}
.subscribe::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--section-overlay);
}
.subscribe .container {
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width: 992px) {
  .subscribe .container {
    flex-direction: column;
  }
}
.subscribe .container form {
  display: flex;
  width: 500px;
  max-width: 100%;
  position: relative;
}
.subscribe .container form i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  font-size: 20px;
}
.subscribe .container form input[type="email"] {
  padding: 20px 20px 20px 50px;
  background-color: transparent;
  border: 1px solid white;
  outline: none;
  width: calc(100% - 130px);
}
.subscribe .container form input[type="email"]::placeholder {
  color: white;
  font-size: 15px;
}
.subscribe .container form input[type="submit"] {
  width: 130px;
  border: 1px solid white;
  background-color: var(--main-color);
  color: white;
  font-size: 15px;
  text-transform: uppercase;
}
.subscribe .container p {
  line-height: 2;
  margin-left: 50px;
}
@media (max-width: 992px) {
  .subscribe .container p {
    margin: 30px 0 0;
  }
}

.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.contact .content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .contact .content {
    flex-direction: column;
  }
}
.contact form {
  flex-basis: 70%;
}
.contact form .main-input {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #eee;
}
.contact form textarea {
  height: 200px;
}
.contact form input[type="submit"] {
  width: fit-content;
  margin-left: auto;
  background-color: var(--main-color);
  color: white;
  font-size: 15px;
  text-transform: uppercase;
}
.contact .info {
  flex-basis: 25%;
}
@media (max-width: 767px) {
  .contact .info {
    order: -1;
    text-align: center;
    margin-bottom: 20px;
  }
}
.contact .info h4 {
  font-size: 17px;
  font-weight: normal;
}
.contact .info h4:first-of-type {
  margin: 0 0 30px;
}
.contact .info span {
  display: block;
  line-height: 2;
  color: var(--transparent-alt-color);
}
.contact .info h4:last-of-type {
  margin-top: 60px;
}
@media (max-width: 767px) {
  .contact .info h4:last-of-type {
    margin-top: 30px;
  }
}
.contact .info address {
  line-height: 2;
  color: var(--transparent-alt-color);
}

footer {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../images/subscribe.jpg);
  background-size: cover;
  text-align: center;
  position: relative;
}
footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--section-overlay);
}
footer .container {
  position: relative;
}
footer img {
  margin-bottom: 30px;
}
footer p:first-of-type {
  font-size: 19px;
  color: white;
  padding: 15px;
  width: fit-content;
  margin: 10px auto;
  border-bottom: 1px solid white;
}
footer .social i {
  padding: 10px 15px;
  color: white;
  cursor: pointer;
}
footer p:last-of-type {
  color: white;
  font-size: 17px;
  margin: 20px 0 0;
}
footer p:last-of-type span {
  font-weight: bold;
  color: var(--main-color);
}
